{{define "navbar"}}
<nav class="primary-nav nav">
    <div class="theme-container">{{block "theme" .}}{{end}}</div>
    <ul>
        <li>
            <a
                hx-get="/home"
                hx-push-url="/"
                hx-swap="outerHTML"
                hx-select="#main"
                hx-target="#main"
                hx-target-5*="#main"
                >Home</a
            >
        </li>
        <li>&#183;</li>
        <li>
            <a
                hx-get="/experience"
                hx-push-url="/experience"
                hx-target="#main"
                hx-target-5*="#main"
                >Experience</a
            >
        </li>
        <li>&#183;</li>
        <li>
            <a
                hx-get="/blog"
                hx-push-url="/blog"
                hx-target="#main"
                hx-target-5*="#main"
                >Blog</a
            >
        </li>
        <li>&#183;</li>
        <li>
            <a
                hx-get="/contact"
                hx-push-url="/contact"
                hx-target="#main"
                hx-target-5*="#main"
                >Contact</a
            >
        </li>
    </ul>
</nav>
{{end}}
