{{define "work"}}
<section id="work" class="grid">
    <img
        class="work-img"
        src="static/assets/images/work/Accenture_logo.svg"
        alt="Accenture"
    />
    <img
        class="work-img"
        src="static/assets/images/work/Amazon_logo.svg"
        alt="Amazon"
    />
    <img class="work-img" src="static/assets/images/work/CNN.svg" alt="" />
    <img
        class="work-img"
        src="static/assets/images/work/ESPN_wordmark.svg"
        alt="ESPN"
    />
    <img
        class="work-img"
        src="static/assets/images/work/NBC_logo_2022_(vertical).svg"
        alt="NBC"
    />
    <img
        class="work-img"
        src="static/assets/images/work/nba-logo-vector.svg"
        alt="NBA"
    />
    <img
        class="work-img"
        src="static/assets/images/work/Warner_Bros._Discovery.svg"
        alt="WBD"
    />
</section>

{{end}}
