{{define "home"}}
<section id="home" class="hero row">
    <article>
        <h3>
            Hello! I'm <strong>Isaac</strong> - SDVN Specialist and software
            enthusiast
        </h3>
        <img
            class="headshot"
            src="static/assets/images/headshot.png"
            alt="This should be a picture of me. If you're seeing this, something has gone horribly wrong"
        />
        <p>
            I write about my takes on software and product management, my
            lessons and experiences from working in broadcast, and anything else
            I might find worth sharing.
        </p>
        <button class="btn btn-alt"><a href="/contact">Contact Me</a></button>
    </article>
</section>
<section id="about" class="container">
    <article>
        <h1>About Me</h1>
        <section class="container">
            <h2>Career</h2>
            <p>
                Since 2016 I've worked at
                <a href="https://evertz.com/">Evertz Microsystems</a>, a
                broadcast equipment manufacturer based in Canada. The broadcast
                industry can be best described as 'unique' and I think my
                experience in this field offers some different insights and
                viewpoints on software.
            </p>
            <p>
                My work is with the control system we offer,
                <a href="https://evertz.com/solutions/magnum/">MAGNUM</a>,
                focusing heavily on the design and
                <a href="https://evertz.com/applications/sdvn/">SDVN</a>
                architecture side of our projects. I am deeply involved in
                system deployments, designs, diagnostics and short-to-long term
                support strategies.
            </p>
            <h2>Personal</h2>
            <p>
                While my educational discipline was in electrical engineering, I
                found myself in a software role with work, which forced me to
                integrate with this more over time. My personal
                <a href="https://github.com/isaacgr">projects list</a> isnt
                particularily extensive but I try to be consistent. I probably
                also spend too much time on work projects after hours, which I
                can't share.
            </p>
            <p>
                I do still try to work with hardware when I can, so I combine my
                interests ocassionally by building projects with IOT devices, or
                some purely discrete components. I'm also in the process of
                learning to play the bass.
            </p>
        </section>
    </article>
</section>
{{end}}
