{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            content="My portfolio website, written with go+htmx"
        />
        <title>{{.Title}}</title>
        <link
            rel="stylesheet"
            href="/static/css/output.css?v=1755378984476.6194"
        />
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    </head>
    <body id="body" class="container mx-auto px-4 py-8">
        {{block "navbar" .}}{{end}}
        <main hx-ext="response-targets" id="main" class="p-6">
            {{template "home"}}
        </main>
        <footer class="border-t border-neutral-200 bg-white">
            <div
                class="container mx-auto max-w-5xl px-4 py-8 text-center text-xs text-neutral-500"
            >
                © <span id="y"></span> Isaac Rowell. All rights reserved.
            </div>
        </footer>
    </body>
    <script>
        document.getElementById("y").textContent = new Date().getFullYear();
    </script>
</html>
{{end}}
